@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,500;1,700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  /*outline: 3px solid lime;*/
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  height: 50px;
}

.carrito-icon {
  height: 40px;
  cursor: pointer;
}

.logo {
  width: 8rem;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
}

.navbar-list {
  gap: 20px;
}
.navbar-list a {
  color: #000;
  font-size: 16px;
}
.navbar {
  gap: 40px;
}

.hero-img {
  width: 45%;
}

.menu-hamburguesa {
  width: 35px;
}

#menu-toggle,
.menu-label {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero {
  max-width: 1600px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 450px;
}
.hero-info p {
  font-size: 55px;
  font-weight: 600;
}

.boton-ver {
  width: 95px;
  height: 40px;
  background-color: #000;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

#paralax {
  width: 100%;
  max-width: 1600px;
  height: 50vh;
  margin-top: 120px;
  background-image: url(./prueba.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#about {
  width: 100%;
  background-color: #000;

  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#about p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  width: 70%;
}

.section-title-white {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.section-title-black {
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
#coleccion {
  max-width: 1600px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  font-size: 30px;
  font-weight: 400;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cards {
  width: 500px;
  /* height: 600px; */
  margin: 50px 0;
}
.remeras {
  width: 500px;
}

.remera-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.remera-info p:nth-child(3)::first-letter {
  font-weight: 600;
}

.remera-info p:nth-child(2) {
  font-weight: 600;
}

.remera-info p > span {
  font-weight: 600;
}

.remera-info a {
  background-color: #000;
  padding: 10px;
  color: #fff;
  margin-top: 5px;
}
#seccion-informativa {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin-bottom: 70px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.icono {
  width: 60px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.info p {
  font-size: 15px;
  text-transform: uppercase;
}

#contacto {
  max-width: 1600px;
  padding: 30px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.contacto-container {
  width: 60%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.form-container {
  display: flex;

  margin-top: 30px;
  width: 90%;
  justify-content: center;
  gap: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 200px;
  width: 40%;
  max-width: 400px;
}

.form-inputs {
  width: 100%;
  max-width: 500px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-inputs input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #000;
}

textarea {
  border: 1px solid #000;
  padding: 10px;
}

.boton-input {
  width: 85px;
  height: 40px;

  font-size: 15px;
  font-weight: 600;

  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.iframe-container {
  width: 50%;
  display: flex;
}

footer {
  width: 100%;
  padding: 40px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.tarjetas {
  display: flex;
  justify-content: center;

  gap: 4px;
  flex-wrap: wrap;
}

.tarjeta {
  height: 20px;
  width: 30px;
}
.footer-icono {
  height: 30px;
}

.redes {
  display: flex;
  gap: 10px;
}

footer p {
  color: #fff;
  font-size: 10px;
}
/*mediaquieris*/

@media (max-width: 992px) {
  .hero-container {
    padding: 0 10px;
  }
}

@media (max-width: 843px) {
  .hero-info {
    width: 330px;
  }
  .hero-info p {
    font-size: 45px;
  }
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: #000;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .navbar-list li > a {
    color: #fff;
  }

  .menu-label {
    display: flex;

    cursor: pointer;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  .formulario {
    align-items: center;
  }

  .iframe-container {
    justify-content: center;
  }
  iframe {
    width: 450px;
    height: 300px;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
  }
  .menu-hamburguesa {
    width: 40px;
    padding: 2px;
  }
}

@media (max-width: 744px) {
  .info-container {
    justify-content: center;
    gap: 25px;
  }
}

@media (max-width: 619px) {
  .hero-info {
    justify-content: center;
    align-items: center;
  }

  .hero-info p {
    text-align: center;
  }

  .hero-container {
    justify-content: center;
    gap: 20px;
  }

  #paralax {
    margin-top: 30px;
  }

  .info p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #paralax {
    display: none;
  }

  .hero-info p {
    font-size: 30px;
  }

  .boton-ver {
    font-size: 15px;
    width: 70px;
    height: 30px;
    padding: 2px;
  }

  .logo {
    width: 6rem;
  }

  .hero-img {
    display: none;
  }

  #hero {
    padding: 30px 0;
  }
  .menu-hamburguesa {
    width: 30px;
    padding: 0px;
  }
  .remeras {
    width: 320px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about p {
    font-size: 18px;
  }
  .section-title-white {
    font-size: 26px;
  }
  .section-title-black {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .cards {
    width: 310px;
  }
  .info-container {
    flex-direction: column;
  }
  #seccion-informativa {
    height: 100%;
  }
  .info {
    margin: 1rem 0;
  }

  .logo {
    width: 5rem;
  }

  #about p {
    width: 100%;
    padding: 0 5px;
  }
  .icono {
    width: 45px;
  }

  .info p {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .remeras {
    width: 320px;
  }
  .hero-container {
    padding: 0;
  }
  .hero-info {
    width: 300px;
  }

  .hero-info p {
    font-size: 27px;
  }
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cards {
    width: 320px;
  }

  .logo {
    width: 4rem;
  }

  .carrito-icon {
    height: 35px;
  }

  .boton-ver {
    font-size: 13px;
    width: 61px;
    height: 25px;
  }

  #about p {
    font-size: 16px;
  }

  .section-title-white {
    font-size: 24px;
  }
  .section-title-black {
    font-size: 24px;
  }
}
